.navbar{
  
    width: 100vw;
    height: 180px;
    // background-color: #2874f0;
    background-color: rgb(230, 237, 236);
    color: #fb641b;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    background-image: url(https://marketplace.canva.com/o7hpI/MAFnB9o7hpI/1/s2/canva-professional-chef-cooking-food-in-pan-with-fire-flame-on-black-b-MAFnB9o7hpI.jpg);
    background-size: cover;

  }
  .navbar-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-left: 50px;
  }
 
  .navbar_search{
    width: 400px;
    height: 35px;
  }
 .header-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-right: 50px;
 }
 .header-link{
    color: white;
    text-decoration: none;
    font-size: 17px;
 }
 .header-link:hover{
  opacity: 0.5;
 }
 .header-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;
 }
 .header-profile-iconCircle{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .navbar-search_container{
  width: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .search-icon{
  position: absolute;
  right: 5px;
 cursor: pointer; 
 }
 .dropdown-icon{
  color: white;
  font-size: 14px;
 }
 .header-profile-login{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
 }