.Insert-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.main-heading {
    display: flex;
    text-align: center;
    color: #fb641b;
}

.image-container {
    width: 100%;
    margin-top: 50px;
}

.category-image {

    height: 400px;
}

.container-fieldsList_heading {
    margin-top: 40px;
    // display: flex;
    text-align: center;
    width: 100%;
}

.container-form {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 100%;
    // max-width: 600px;
    margin-top: 2%;
    
    

}

.fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 10%;
    // border: 0.1px solid gray;
    margin-bottom: 10px;
    font-size: 15px;
}

.fields-to-fill {
    
    height: 30px;
    width: 100%;
    margin-inline: auto;
    
}

.formAdd-Recipes{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    border: 0.1px solid gray;
    padding: 25px;
    // background-color: aliceblue;
}
.AddRecipes-button{
    background-color: #fb641b;
    height: 40px;
    width: 20%;
    margin-left: 10px;
}
.submit-button{
    background-color: #fb641b;
    height: 40px;
    width: 60%;
    margin-inline: auto;
    margin-bottom: 10px;
}
// .addIngredientContainer{

// }
.fields-to-fill_select{
    height: 30px;

}

@media only screen and (max-width: 700px) {

    .formAdd-Recipes{
        width: 80%;
    }
   

    
  }