.popup-window{
    width: 350px;
    height: 500px;
    // background-color:aliceblue;
    background-color: white;
    position: fixed;
    // top: 100px;
    // left: 600px;
    left: 40%;
    top: 15%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 25px;
    // box-shadow: 0 0 3px 3px white;  
}
.close-icon{
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: 0px;
    
}
.circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}


@media only screen and (max-width: 600px) {
    .popup-window{
        left: 20%;
        top: 20%;
        width: 300px;
        height: 400px;
    
    } 
    
}
