.profileDropdown-container{
    width: 150px;
    height: 230px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:aliceblue;
    padding-left: 10px;
    right: 10px;
    top: 110px;
    z-index: 1;
    cursor: pointer;
    
}

.dropdown-link{
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: -5px;
   
    
}
.dropdown-link:hover{
    
    background-color: #fb641b;
    
}
.dropdown-link-link{
    text-decoration: none;
    color: black;
}