.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}

.rating input {
  display: none;
}

.rating label {
  display: inline-block;
  padding: 5px;
  font-size: 25px;
  color: #aaa;
  cursor: pointer;
}

.rating label:hover,
.rating label:hover~label,
.rating input:checked~label {
  color: #ffcc00;
}