* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 270px;
    height: 350px;
    border: 0.1px solid gray;
    position: relative;
}

.heart-iconDiv {
    right: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.heart-icon {
    color: white;
}