
.search_headings{
    color: #fb641b;
    text-align: center;
}

.search_img{
    width: 500px;
    height:350px;
    border: 1px solid #fb641b;
}

.search_button{
    background-color: #fb641b;
    font-size: 1.25em;
    border: none;
    margin: 5px;
}

.search_main{
 width: 70%;
 margin-inline: auto;
  
    
}
.search_main-inputField{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-inline: auto;
 margin-top: 5%;
    width: 70%;
}
.empty-container{
    width: 100%;
    height: 400px;
}

.search_select{
    color: #fb641b;
    border-color: #fb641b;
    width: 100%;
    
}

.search_meal{
    display: flex;
    align-items: center;
    margin-left: 5%;
    
}

.search_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-left: 5%
   
    
}
@media only screen and (width < 900px){
    .search_meal{
        flex-direction: column;
    }
}




@media only screen and (max-width: 600px) {
    .search_img{
        width: 300px;
        height: 200px; 
    }
    

}