.userStatus-popup_window{
    width: 400px;
    height: 550px;
    background-color: rgb(240, 243, 247);
    position: fixed;
    top: 100px;
    left: 600px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    font-size: 22px;
    // background-image: url(https://marketplace.canva.com/FOYQE/MADyQ0FOYQE/1/s2/canva-man-decorating-food-MADyQ0FOYQE.jpg);
    // background-size: cover;
    // box-shadow: 0 0 3px 3px white;
    // color: white;
}
.close-window_icon{
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: 0px;
    
}
.userStatus-popup_window-heading{
    color: #fb641b;
    position: absolute;
    top: 30px;
   
}
.userStatus-popup_window-section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
   
    
}

.userStatus-popup_window-link{
    
    color: #2874f0;
    font-size: 20px;
    text-decoration: none; 
}

.userStatus-popup_window-links{
    display: flex;
    gap: 10px;
}

@media only screen and (max-width: 600px) {
    .userStatus-popup_window{
        left: 20%;
        top: 20%;
        width: 300px;
        height: 400px;
    } 
    .userStatus-popup_window-section-2{
       font-size: 12px;
       
        
    }
    
}