* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.img_box {
  padding: 0 5%;
}

.uyghur_img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.uyghur_title {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
}

.menu_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 5%;
}

.menu_item {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

.menu_img {
  width: 100%;
  height: 300px;

  object-fit: cover;
}

.menu_content {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}

.menu_title {
  margin: 10px 0;
}